[submodule "repo/Create-Crystal-Clear"]
	path = repo/Create-Crystal-Clear
	url = https://github.com/LiuJiewenTT/Create-Crystal-Clear.git
[submodule "referring_repos/c0nnor263"]
	path = referring_repos/c0nnor263
	url = https://github.com/c0nnor263/Crystal-Clear-Arch.git
[submodule "referring_repos/LoneStarFateZero"]
	path = referring_repos/LoneStarFateZero
	url = https://github.com/LoneStarFateZero/CreatePrism.git
[submodule "referring_repos/adonis"]
	path = referring_repos/adonis
	url = https://github.com/adonis-baffin/CreatePrism.git
